{{!< default}}
<main class="content">
    <article class="post">
        <header class="post-header">
            <h1>{{title}}</h1>
            <p class="post-meta">Published on {{date published_at format="MMMM DD, YYYY"}}</p>
        </header>
        <section class="post-content">
            {{{html}}}
        </section>
        <footer class="post-footer">
            <p>Written by {{primary_author.name}}</p>
        </footer>
    </article>
</main>
